<h1>Booking Summary</h1>

<p>Flight Details:</p>
<%# Display flight details %>
<p><%= @booking.flight.departure_airport.name %> to <%= @booking.flight.arrival_airport.name %></p>
<p>Departing: <%= @booking.flight.start_datetime.strftime("%d/%m/%Y") %> at <%= @booking.flight.start_datetime.strftime("%H:%M %p") %></p>

<p>Passenger Details:</p>
<% @booking.passengers.each do |passenger| %>
  <p>Name: <%= passenger.first_name %> <%= passenger.surname %></p>
  <p>Email: <%= passenger.email %></p>
<% end %>
