<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900">
    <% if flash[:notice] %>
      <div class="bg-green-500 text-white p-4">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- This code block defines the main content area of the application layout 
    and yields the content of the specific view that is being rendered. -->
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
